*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    ody {
        background-color: black;
    }
    .navbar{
        width: 300px;
        background-color: black;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    
    }
    .logo img{
        width: 70px;
        padding: 10px;
        margin: 4px;
    }
    .library{
        background-color: rgb(10, 9, 9);
        color: rgb(161, 160, 160);
        font-size: 20px ;
        display: flex;
        align-items: center;
        font-weight: bold;
        padding: 10px;
        margin: 4px;
    }
}